body {
    font-family: sans-serif;
    margin: 0;
    padding: 0
}

.footer,.full-header {
    background-color: #1F2937;
    color: #e5e7eb;
}

.main-text {
    font-size: 30px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 4px;
}

.bellow-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

ul {
    
    list-style-type: none;
}

button, .action {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 6px;
    padding: 8px 24px;
}

button {
    font-weight: bold;
    font-size: 16px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.Quote {
    background-color: #e5e7eb;
    padding: 50px 250px
}

.quote.text {
    font-size: 52px;
    color: #1F2937;
    font-weight: 600;
}

.cards-img {
    border: 2px;
    border-color: #3882f6;
    border-radius: 3px;
    border-style: solid;
    width: 150px;
    height: 150px;
}

.header-img {
    width: 400px;
    height: 200px;
}

.full-header,
.footer {
    padding: 10px 150px 50px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.left-links {
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info {
    text-align: center;
    padding: 10px 200px 50px 200px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.text { 
    text-align: center;
    margin: 0;
}

.footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.person {
    font-weight: bolder;
    font-size: 16px;
    text-align: end;
    padding-top: 4px;
}

.action {
    margin: 50px 200px 50px 200px;
    display: flex;
    justify-content: space-between;
}

.action-text-1 {
    font-weight: bolder;
    padding-bottom: 6px;    
}

.card-one,
.card-two,
.card-three,
.card-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}